
.main_detalle {
    font-family: Arial, sans-serif;
    color: #1f2937;
    margin-top: 10px;
}

.contenedor {
    width: 100%;
    max-width: none;
    margin: 0;
}

.detalle_contenido {
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.video_detalle {
    flex: 1;  
    display: flex;
    flex-direction: column;  
    align-items: center;  
}

.video_detalle iframe {
    width: 100%;
    max-width: 400px;
    height: 225px; 
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
}


.boton_ver {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #9fa8a2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;  
    box-sizing: border-box;  
    text-align: center;
}

.boton_ver:hover {
    background-color: #49504a;  
}

.detalle_pelicula {
    flex: 2;
    line-height: 1.4; 
}

.detalle_pelicula p {
    margin: 6px 0;
}

.similares {
    background-color: #fdfdfd;
    padding: 15px;
    border-radius: 6px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
}

.similares h3 {
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.peliculas_series_similares {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}

.peliculas_series_similares a {
    display: block; 
    width: calc((100% / 4) - 11.25px); 
}

.peliculas_series_similares a img {
    width: 100%;
    height: 500px; 
    border-radius: 6px;
    cursor: pointer;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.peliculas_series_similares a img:hover {
    transform: scale(1.05);
}

@media (max-width: 1100px) {
    .peliculas_series_similares a {
        width: calc((100% / 3) - 11.25px);
    }
}

@media (max-width: 900px) {
    .detalle_contenido {
        flex-direction: column;
        flex-wrap: wrap; 
    }

    .video_detalle iframe{
        max-width: 100%;
    }
    .boton_ver {
        max-width: 100%;
    }
}

@media (max-width: 840px) {
    .peliculas_series_similares a {
        width: calc((100% / 2) - 11.25px);
    }
}

@media (max-width: 540px) {
    .peliculas_series_similares a {
        width: calc((100% / 1) - 11.25px);
    }
}
