body {
  background-color: #c9c6ff;
}

.main {

  padding: 1.25em 0;
}

.header_nav a:nth-of-type(3) {
  background-color: lightgrey;
}


form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.25rem;

}

.filtro-categoria {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.seccion-filtros label {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

.categoria {
  padding: 0.5rem 0.75rem;
  ;
  border: 0.06rem solid #3f3f3f;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: white;
  min-width: 12.5rem;
  cursor: pointer;

}

option {
  border-right: 1px solid #000000;
}

.buscar {
  padding: 0.5rem 0.75rem 0.5rem 2rem;
  border: 0.0625rem solid #3f3f3f;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  width: 20rem;
  background-color: white;
}

.icon-header {
  padding-right: 0.5rem;
}

div {
  position: relative;
  display: inline-block;
}

.icon-filtro {
  position: absolute;
  top: 0.5rem;
  left: 0.625rem;

  width: 1.25rem;
  height: 1.25rem;
}

.contenido {
  padding: 0.5rem;
  max-width: 80%;
  margin: 0 auto;
}

.grilla-contenido {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.tarjeta-contenido {
  display: block;


  cursor: pointer;
  background-color: white;
  text-decoration: none;
}


.tarjeta-contenido img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.3s ease;
}

.tarjeta-contenido:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .grilla-contenido {
    grid-template-columns: repeat(2, 1fr);
  }

  .header_nav {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
  }

  form {
    flex-direction: column;
    gap: 1rem;
  }

  .buscar {
    width: 100%;
  }
}


@media (max-width: 375px) {
  .grilla-contenido {
    grid-template-columns: 1fr;
  }

  .header_nav a {
    font-size: 1rem;
    padding: 0.25rem;
  }

  .buscar {
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem 0.4rem 1.8rem;
    width: 100%;
  }

  .categoria {
    font-size: 0.9rem;
    min-width: 100%;
  }

  .filtro-categoria {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

}